<bean class="org.apache.ignite.configuration.IgniteConfiguration">
<!-- Configuracion de un IP multifuncion para encontrar otros nodos por la cuadricula -->
<!-- La integracion del codigo se hace iniciando ignite = Ignition.start("nombre.xml")-->
  <property name="discoverySpi">
    <bean class="org.apache.ignite.spi.discovery.tcp.TcpDiscoverySpi">
      <property name="ipFinder">
        <bean class="org.apache.ignite.spi.discovery.tcp.ipfinder.multicast.TcpDiscoveryMulticastIpFinder">
          <property name="multicastGroup" value="127.0.0.1"/>
        </bean>
      </property>
    </bean>
  </property>
</bean>